#container {
    background: #ddd;
    width: 1000px;
    height: 500px;
}

path {
    fill: none;
    stroke: #4682B4;
    stroke-width: 2;
}

.domain, .tick line {
    stroke: gray;
    stroke-width: 1;
}
